@font-face {
  font-family: 'dki_fontset_01';
  src: url('../font/dki_fontset_01.eot?93863169');
  src: url('../font/dki_fontset_01.eot?93863169#iefix') format('embedded-opentype'),
       url('../font/dki_fontset_01.woff?93863169') format('woff'),
       url('../font/dki_fontset_01.ttf?93863169') format('truetype'),
       url('../font/dki_fontset_01.svg?93863169#dki_fontset_01') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'dki_fontset_01';
    src: url('../font/dki_fontset_01.svg?93863169#dki_fontset_01') format('svg');
  }
}
*/
 
 .icon[class^="icon-"]:before, .icon[class*=" icon-"]:before {
  font-family: "dki_fontset_01";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-0-dki:before { content: '\e800'; } /* '' */
.icon-audio:before { content: '\e801'; } /* '' */
.icon-circle-outline:before { content: '\e802'; } /* '' */
.icon-circle-pie-left:before { content: '\e803'; } /* '' */
.icon-circle-pie-right:before { content: '\e804'; } /* '' */
.icon-circle-solid:before { content: '\e805'; } /* '' */
.icon-document:before { content: '\e806'; } /* '' */
.icon-icon-close:before { content: '\e807'; } /* '' */
.icon-icon-glossary:before { content: '\e808'; } /* '' */
.icon-icon-goto_start:before { content: '\e809'; } /* '' */
.icon-icon-listview:before { content: '\e80a'; } /* '' */
.icon-icon-outline:before { content: '\e80b'; } /* '' */
.icon-icon-pause:before { content: '\e80c'; } /* '' */
.icon-icon-play:before { content: '\e80d'; } /* '' */
.icon-icon-replay:before { content: '\e80e'; } /* '' */
.icon-icon-resources:before { content: '\e80f'; } /* '' */
.icon-icon-tileview:before { content: '\e810'; } /* '' */
.icon-icon-volume-off:before { content: '\e811'; } /* '' */
.icon-icon-volume-on:before { content: '\e812'; } /* '' */
.icon-image:before { content: '\e813'; } /* '' */
.icon-video:before { content: '\e814'; } /* '' */
.icon-video_minimize:before { content: '\e815'; } /* '' */
.icon-video_maximise:before { content: '\e816'; } /* '' */
.icon-transcript:before { content: '\e817'; } /* '' */
.icon-square-solid:before { content: '\e818'; } /* '' */
.icon-square-outline:before { content: '\e819'; } /* '' */
.icon-search:before { content: '\e81a'; } /* '' */
.icon-rectangle-solid:before { content: '\e81b'; } /* '' */
.icon-rectangle-solid-h:before { content: '\e81c'; } /* '' */
.icon-rectangle-outline:before { content: '\e81d'; } /* '' */
.icon-rectangle-outline-h:before { content: '\e81e'; } /* '' */
.icon-navigate-right:before { content: '\e81f'; } /* '' */
.icon-navigate-left:before { content: '\e820'; } /* '' */
.icon-naration:before { content: '\e821'; } /* '' */
.icon-menu:before { content: '\e822'; } /* '' */
.icon-link:before { content: '\e823'; } /* '' */